body, html {
	margin: 0;
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
}

#canvasdiv {
	position: relative;
	width: 100%;
	text-align: center;
	pointer-events: none;
}

canvas {
	pointer-events: none;
}

.full-screen {
	pointer-events: auto;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0.5vw;
	cursor: pointer;
}

.full-screen svg {
	stroke: rgba(255,255,255, 0.8);;
	fill: transparent;
	stroke-width: 4px;
	width: 4vw;
	height: 4vw;
}