body, html {
	margin: 0;
}

body {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	pointer-events: none;
}

#canvasdiv {
	width: 100%;
	text-align: center;
	pointer-events: none;
}

canvas {
	pointer-events: none;
}